[submodule "LuaJIT-ImGui"]
	path = LuaJIT-ImGui
	url = https://github.com/Simon-L/LuaJIT-ImGui
[submodule "LuaJIT-SDL2"]
	path = LuaJIT-SDL2
	url = https://github.com/sonoro1234/LuaJIT-SDL2
[submodule "LuaJIT-GL"]
	path = LuaJIT-GL
	url = https://github.com/sonoro1234/LuaJIT-GL
[submodule "hererocks"]
	path = hererocks
	url = https://github.com/luarocks/hererocks
